@keyframes in-out{
    0%{
        background-color: var(--black15);
    }
    100%{
        background-color: var(--black03);
    }
}
.list-block{
    width: 100%;
    height: 3rem;
    margin: 1rem 0;
    animation: in-out 1s linear infinite alternate ;
}
.grid-block{
    width: 100%;
    min-height: 252px;
    height: 100%;
    animation: in-out 1s linear infinite alternate ;
}
@media screen and (max-width: 41.3125rem){
    .grid-block{
        min-height: 50px;
    }
}